<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IKVM" version="8.1.5717.0" targetFramework="net452" />
  <package id="Microsoft.Edge.SeleniumTools" version="3.141.2" targetFramework="net452" />
  <package id="NHtmlUnit" version="2.19.0" targetFramework="net452" />
  <package id="NUnit" version="3.12.0" targetFramework="net452" />
  <package id="Selenium.Chrome.WebDriver" version="84.0.0" targetFramework="net452" />
  <package id="Selenium.Firefox.WebDriver" version="0.27.0" targetFramework="net452" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="88.0.4324.9600" targetFramework="net452" />
  <package id="Selenium.WebDriver.MicrosoftDriver" version="17.17134.0" targetFramework="net452" />
  <package id="SpecFlow" version="3.6.23" targetFramework="net452" />
  <package id="SpecFlow.NUnit" version="3.6.23" targetFramework="net452" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.113.3" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.113.7" targetFramework="net452" />
  <package id="xunit.assert" version="2.4.1" targetFramework="net452" />
</packages>